*{
    margin: 0;
    padding: 0;
 }
 nav{
    margin: 20px;
    text-align: center;
 }
  img{
    width: 23px;
    margin: 20px;
    margin: 0px;

 }

 body.black{
    background-color: black;
    color: white;
 }
 #dark{
   border: none;
   border-radius: 100%;
   
 }
 body{
   background-color: rgb(15, 15, 97);
 }
 p{
   color: white;
 }
 .hero{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 }
 .welcome{
   margin-left: 60px;
   margin-top: 90px;
   
 }
 .welcome h5{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
  color: gray;
 }
 .welcome h1{
   font-size: 50px;
   width: 80%;
   color: white;
 }
 .btn{
  display: flex;
  flex-direction: column;
   width: 40%;
   margin-right: 80px;
   
 }
 .btn button{
   width: 100%;
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 9px;
  color: white;
  background-color: rgb(27, 27, 109);
  border: none;

 }*{
    margin: 0;
    padding: 0;
 }
 nav{
    margin: 20px;
    text-align: center;
 }
  img{
    width: 23px;
    margin: 20px;
    margin: 0px;

 }

 body.black{
    background-color: black;
    color: white;
 }
 #dark{
   border: none;
   border-radius: 100%;
   
 }
 body{
   background-color: rgb(15, 15, 97);
 }
 p{
   color: white;
 }
 .hero{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 }
 .welcome{
   margin-left: 60px;
   margin-top: 90px;
   
 }
 .welcome h5{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
  color: gray;
 }
 .welcome h1{
   font-size: 50px;
   width: 80%;
   color: white;
 }
 .btn{
  display: flex;
  flex-direction: column;
   width: 40%;
   margin-right: 80px;
   
 }
 .btn button{
   width: 100%;
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 9px;
  color: white;
  background-color: rgb(27, 27, 109);
  border: none;

 }*{
    margin: 0;
    padding: 0;
 }
 nav{
    margin: 20px;
    text-align: center;
 }
  img{
    width: 23px;
    margin: 20px;
    margin: 0px;

 }

 body.black{
    background-color: black;
    color: white;
 }
 #dark{
   border: none;
   border-radius: 100%;
   
 }
 body{
   background-color: rgb(15, 15, 97);
 }
 p{
   color: white;
 }
 .hero{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 }
 .welcome{
   margin-left: 60px;
   margin-top: 90px;
   
 }
 .welcome h5{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
  color: gray;
 }
 .welcome h1{
   font-size: 50px;
   width: 80%;
   color: white;
 }
 .btn{
  display: flex;
  flex-direction: column;
   width: 40%;
   margin-right: 80px;
   
 }
 .btn button{
   width: 100%;
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 9px;
  color: white;
  background-color: rgb(27, 27, 109);
  border: none;

 }
 #ques{
   text-shadow: 0px 0px 9px;
 }
 .peter{
    margin-top: 30px;
 }
 #quiz{
  display: flex;
  gap: 200px;
  margin-top: 150px;
  margin-left: 50px;
  justify-content: center;
  margin-right: 50px;

 }
 #question{
  margin-top: 120px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 9px;
 }
 #semo{
  text-align: center;
  margin-top: 50px;
 }

 @media (max-width:768px) {
   .hero{
     flex-direction: column;
     align-items: center;
     gap: 20px;
   }
   #quiz{
    flex-direction: column;
     align-items: center;
     gap: 20px;
     margin-top: -40px;
   }
 }

